.barra-superior-admin {
    background-color: #0A3F7A;
    height: 50px;
    width: 100%;
}

/* =========================== TABLA =========================== */

.titulo-admin {
    font-size: 32px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.tabla-contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto 4rem auto;
    overflow-x: auto;
}

.tabla-admin {
    width: 100%;
    border-collapse: collapse;
    background: var(--blanco);
    border-radius: 10px;
    box-shadow: var(--sombra-suave);
}

.tabla-admin th {
    background: var(--azul);
    color: var(--blanco);
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

.tabla-admin td {
    padding: 0.9rem;
    border-bottom: 1px solid #e5e5e5;
    color: var(--gris);
    text-align: center;
}

.tabla-admin tr:hover {
    background-color: #f6f9ff;
}

/* =========================== SELECT =========================== */

.select-estado {
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.select-estado:focus {
    border-color: #0A3F7A;
}

/* =========================== BOTONES =========================== */

.btn-small {
    padding: 7px 12px;    
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin: 0 3px;
    font-weight: 500;
    transition: 0.2s ease;
    display: inline-block;
}

/* Azul */
.btn-primary {
    background-color: #0A3F7A;
    color: #fff;
}

.btn-primary:hover {
    background-color: #003f73;
}

/* Rojo */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #b0212f;
}

/* Evitar quiebre de botones */
.acciones-col {
    white-space: nowrap;
}
